.main-header {
  .container-fluid {
    nav.position-absolute {
      top: 0;
      right: 3vw;

      li {
        a {
          letter-spacing: 0.3em;
        }
      }
    }
  }
}

.drawer-nav {
  width: 100%;
  background-image: url("../images/bg_body.png");
  background-repeat: repeat;

  .menu-left {
    background-image: url("../images/menu_left.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
}

.drawer--right .drawer-nav {
  right: -100%;
}

.drawer-hamburger-icon::before {
  top: -8px;
}

.drawer-hamburger-icon::after {
  top: 8px;
  left: auto;
  right: 0;
  width: 75%;
}

.drawer-open .drawer-hamburger-icon::after {
  width: 100%;
}

@include media-breakpoint-up(md) {
  .drawer-hamburger {
    top: 50%;
    right: 2vw !important;
  }

  .drawer-nav {
    display: flex;
    justify-content: center;
    align-items: stretch;

    .menu-left,
    .menu-right {
      width: 50%;
      height: 100%;
    }

    .menu-right {
      box-sizing: border-box;
      padding: 3rem;

      .menu-wrap {
        height: 300px;

        .drawer-menu {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);

          li {
            display: inline-block;
            vertical-align: top;
            text-align: left;
            margin: 0 1.5rem;

            a {
              letter-spacing: 0.3em;
            }
          }
        }
      }

      .tel-wrap {
        .tel {
          font-size: 2rem;
        }
      }

      .sns {
        position: absolute;
        right: 0;
        bottom: 0;
        box-sizing: border-box;
        padding: 1rem;
      }
    }
  }
}

@include media-breakpoint-down(md) {
  .drawer-hamburger {
    top: 4.5rem;

    &.on-scroll {
      top: 0;
    }
  }

  .drawer--right.drawer-open .drawer-hamburger {
    top: 0;
    right: 0;
  }

  .drawer-nav {
    box-sizing: border-box;
    padding: 0 1rem;
    .menu-right {
      .menu-wrap {
        margin-bottom: 3rem;

        .text-vertical {
          -webkit-writing-mode: unset;
          -ms-writing-mode: unset;
          writing-mode: unset;
        }

        .drawer-menu {
          margin-top: 4rem;
          li {
            margin-bottom: 1.5rem;
            a {
              font-size: 1.2rem;
              letter-spacing: 0.3em;
            }
          }
        }
      }

      .tel-wrap {
        margin: 3rem auto;

        .tel {
          display: block;
          box-sizing: border-box;
          border: solid 1px #e5e5e5;
          font-size: 1.6rem;
          padding: 1rem;

          &::after {
            content: "タップで電話";
            display: block;
            font-size: 0.875rem;
          }
        }
      }

      .sns {
        a {
          font-size: 1.2rem;
        }
      }
    }
  }
}
